/*******************************/
/* Borders                     */
/*******************************/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.bbox {
    box-sizing: border-box;
}

/*******************************/
/* Colors                     */
/*******************************/

.bg-main {
    background-color: #89BBFE;
}

/******************************/
/* Custom font                */
/******************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto");


body {
    font-family: 'Roboto', serif;
}


/******************************/
/* Navbar                      */
/******************************/
.navbar {
    background-color: #cae5ff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.navbar-toggler {
    background-color: #000000;
}

.project-name.nav {
    border: 3px solid #615d6c;
    color: #000000;
    border-radius: 2.0rem;
    font-size: large;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 10px;
}

.nav-item {
    color: #000000;
    font-size: large;
}

.nav-item:hover {
    font-size: x-large;
    color: #89bbfe;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}



/******************************/
/* Index                      */
/******************************/

.national-map {
    display: table;
    border-radius: 0.2em;
    /*margin-left: 1em;
    margin-right: 1em;
    height: 100%;*/
}

.recommended-news {
    border-radius: 0.2em;
    /* margin-left: 1em; */
    margin-right: 1em;
    border: 1px solid gainsboro;
}

/******************************/
/* State view                 */
/******************************/

/* stile for the graph box */
.graph {
    display: table;
    /* height: 80vh; */
    width: 100%;
    /* border-radius: 0.2em; */
    /* margin-left: 1em;*/
    /* margin-right: 1em; */
    /* border: 1px solid gainsboro; */
}

/* style fot the entire window excluded bavbar*/
.grid-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* style for the menu select variables box */
.menu {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    position: absolute;
    padding: 15px;
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
    border: 1px solid gainsboro;
}

/* innner box of the menu */
.info-selector {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}


/* "select-" added to allow custonization for each box 
since the might have different property  */
.select-graph {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.select-variable {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.select-state {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}


.select-date {
    margin-bottom: 1rem;
}

/* datepicker boxes */
.date {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 12px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    color: #495057;
    font-size: 1rem;
}

/* radio buttons */
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}


.static-image {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.covid-image.graph-page {
    display: block;
    width: 70%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    width: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0%;
    transition: .5s ease;
    background-color: #89bbfe;
    border-radius: 10rem;
}

.container:hover .overlay,
.container:active .overlay {
    opacity: 1;
}

.info {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#select-states {
    resize: vertical;
}

/******************************/
/* News                       */
/******************************/

.news {
    border-radius: 0.2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 3em;
    border: 1px solid gainsboro;
}

.abstract {
    border-radius: 0.2em;
    /* margin-left: 1em; */
    margin-right: 1em;
    border: 1px solid gainsboro;
}

.button1 {
    margin-right: 1em;
}


/******************************/
/* About                      */
/******************************/

.conntainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -15px;
}

/* top card container */
.about-project {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

/* for all four cards */
.card-body {
    padding: 0.7rem;
    margin-right: -5px;
    margin-left: -5px;
}

/* for the three cards at the bottom */
.card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 25px;
}

/* for the three cards at the bottom */
.card {
    /* background-color: #fff; */
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.5rem;
}

.card.cardSet1 {
    background-color: #cae5ff
}

.card.cardSet2 {
    background-color: #acedff
}

.card.cardSet3 {
    background-color: #89bbfe
}

/* zoom effect for all images addes as inner class */
.inner {
    overflow: hidden;
    width: 100%;
    height: 200px;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img,
.inner:active img {
    transform: scale(1.5);
}

.covid-image {
    display: block;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
    height: 100%;
}

h3.card-title {
    font-size: 1.5rem;
}

h5.card-subtitle {
    font-size: 0.8rem;
    margin-top: -.380rem;
    margin-bottom: 0;
    ;
}

p.card-text {
    padding-bottom: 0.8rem;
    line-height: 1.2rem;
}

/*******************************/
/* News                        */
/*******************************/

.news-container .col {
    background: white;
    padding: .50em, .50em;
}

.filter {
    margin: .25em;
}

label {
    font-weight: bold;
}

button.read-latest {
    background-color: #615D6C;
    border-color: #615D6C;

}

button.read-rated {
    background-color: #615D6C;
    border-color: #615D6C;

}

button.preview-article {
    background-color: #5976AB;
    border-color: #5976AB;
}

span.sorted-on-text {
    font-weight: lighter;
    font-size: 1rem;
}

/* pagination */
span.rating-badge {
    background-color: #89BBFE;
    border-color: #89BBFE;
    color: black;
}

a.page-link {
    color: black;
}

a.page-link:hover {
    color: black;
    font-weight: bold;
}

li.page-item.active>.page-link {
    background-color: #615D6C;
    border-color: #615D6C;
}

h3.news-heading {
    color: #615D6C;
    font-weight: bolder;
}

/* jump to links */
.jump-link {
    color: #5976AB;
    font-weight: bolder;
    padding: .5em;
    text-decoration: none;
}

.jump-link:active {
    background: gainsboro;
    color: #5976AB;
    font-weight: bolder;
    border: gainsboro solid;
    border-radius: 0.5rem;
    text-decoration: none;

}

.jump-link:hover {
    color: #5976AB;
    font-weight: bolder;
    border: #89BBFE solid;
    border-radius: 0.5rem;
    text-decoration: none;
}

.jump-link:focus {
    color: #5976AB;
    font-weight: bolder;
    border: #89BBFE solid;
    border-radius: 0.5rem;
    text-decoration: none;
}

/* preview modal */
.preview-heading {
    color: #5976AB;
    font-weight: bolder;
}

.summary-heading {
    color: #615D6C;
    font-weight: bolder;
}

/******************************/
/* What is                    */
/******************************/

.card.cardSet4 {
    background-color: #89bbfe
}

.card.cardSet5 {
    background-color: #7aa0e0
}


.card.cardSet6 {
    background-color: #615d6c
}

.card-text-set5 {
    /* color: #ffffff; */
    color: #000000;
}



.card-text-set6 {
    color: #ffffff;
}

.btn.CDC {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.card-intro {
    color: #000000;
}

.card-intro-white {
    color: #fff;
}

h3.card-title-white {
    color: #ffffff;
    font-size: 1.5rem;
}

h5.card-subtitle-white {
    color: #ffffff;
    font-size: 0.8rem;
    margin-top: -.380rem;
    margin-bottom: 0;
}


p.card-text {
    padding-bottom: 0.8rem;
    line-height: 1.2rem;
}

/******************************/
/* 404 page                   */
/******************************/

.noMatch-body.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #89BBFE;
    background-clip: border-box;
    border-radius: 2.0rem;
    align-items: center;
    margin: 5rem;
}

.noMatch-title {
    font-size: 40px;
    margin-bottom: 5rem;
}

.noMatch-subtitle.card-subtitle {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5rem;
}

.noMatch-text {
    font-size: 12px;
    margin-bottom: 5rem;
}


/******************************/
/* Media Queries              */
/******************************/
/* bootstrap-xs */
@media (max-width: 575px) {
    button.preview-article {
        display: none;
    }

    .info {
        font-size: 18px
    }

    h2.flex-text {
        font-size: 1rem;
    }

    .date-side {
        display: none;
    }
    .jump-link:hover, .jump-link:active, .jump-link:focus {
        border: none;
    }
}

/* bootstrap-sm */
@media (min-width: 576px) and (max-width: 767px) {
    button.preview-article {
        display: none;
    }

    h2.flex-text {
        font-size: 1.3rem;
    }

    .info {
        font-size: 24px;
    }

    .date-side {
        display: none;
    }
}

/* bootstrap-md - */
@media (min-width: 768px) {
    .jump-link {
        display: none;
    }

    .date-bottom {
        display: none;
    }
}

/* bootstrap just md */
@media (min-width: 768px) and (max-width: 990px){
    button.preview-article {
        display: none;
    }
}